:root {
  // background
  --default-backgroundColor: #0D1118;
  --card-background-color: #161B22;
  --incorrect-background-color: #301A1F;
  // font
  --fontSize-default: 16px;
  --fontSize-h1: 28px;
  --fontSize-h2: 24px;
  --default-fontColor: #C9D1D9;
  --link-color: #59A6FF;
  // button
  --button-green: #238636;
  // border
  --color-border-muted: #21262d;
  --color-incorrect-border: #803030;


  // color 
  --deep-blue: #003488;
  --light-blue: #1F55C1;
}